@import "tailwindcss";

:root {
  --color-brand-light: #a3cef1;
  --color-brand: #6096ba;
  --color-brand-dark: #274C77;
  --color-brand-accent: #5C95FF;

  --font-family-sans: 'Source code pro', monospace;
}