@import "tailwindcss";

:root {
  --color-brand: #8FABD4;
  --color-brand-dark: #272838;

  --font-family-sans: 'Source code pro', monospace;
}

@layer base {
  body {
    background-color: var(--color-brand);
  }
}